<!doctype html>
<html>
    <head>
        <title>Pinball Guides</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8"/>
        <link rel="manifest" href="manifest.json"/>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <div id="header">
            <span>Pinball Guides</span>
        </div>
        <div id="splash-page">
            <div id="searchbox">
                <input type="search" name="search-input" id="search-input" placeholder="search..."/>
            </div>
            <div id="machine-nav">
            {% for machine, machine_data in machines %}
                <div class="nav-item {{ '' if machine_data['content'] else 'unavailable' }}" id="nav-{{ machine_data['name'] }}">
                    {% if machine_data['content'] %}
                    <a href="#{{ machine }}">{{ machine_data['name'] }}</a>
                    {% else %}
                    <span>{{ machine_data['name'] }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="guides">
        {% for machine, machine_data in machines %}
        <div class="machine" id="{{ machine }}">
            <div class="guide-nav">
                <span>
                {% if loop.first %}
                    &nbsp;
                {% else %}
                    <a href="#{{ machines[loop.index - 2][0] }}">prev</a>
                {% endif %}
                </span>
                <span>
                    <a href="#">machine list</a>
                </span>
                <span>
                {% if loop.last %}
                    &nbsp;
                {% else %}
                    <a href="#{{ machines[loop.index][0] }}">next</a>
                {% endif %}
                </span>
            </div>
            <h1>{{ machine_data['name'] }}</h1>
            <div class="markdown-content">
                {{ machine_data['content'] }}
            </div>
        </div>
        {% endfor %}
        </div>
        <script defer>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker
                    .register('sw.js')
                    .then(function(reg) {
                        console.log(':^)', reg);
                    }).catch(function(err) {
                        console.log(':^(', err);
                    });
            } else {
                console.log('service worker is not supported');
            }
            if('caches' in window) {
                console.log('caches supported');
            }
        </script>
        <script defer>
            document.querySelector('#search-input').addEventListener('change', function () {
                var query = this.value;
                var machines = document.querySelectorAll('.nav-item');
                for (var i = 0; i < machines.length; i++) {
                    var machine = machines[i];
                    var machineName = machine.id.substring(4);
                    if (query && query.trim() == '') {
                        machine.style.display = '';
                    } else {
                        if (!machineName.toLowerCase().includes(query.toLowerCase())) {
                            machine.style.display = 'none';
                        } else {
                            machine.style.display = '';
                        }
                    }
                }
            });
        </script>
    </body>
</html>
